*.autosave
*.pyc
*.user
.*.swp
.DS_Store
.sw[a-z]
tags
tegra/
*CMakeFiles
/build/modules
/build/win-install
/build/unix-install
/build/cmake_uninstall.cmake
/build/version_string.tmp
/build/junk
*lib
*.dir
*bin
*x64
*.sdf
*.opensdf
/build/3rdparty/ffmpeg/*.dll
/build/testdata/cv/face/*.dat
/build/python_loader/cv2/*.py
/build/python_loader/*.py